<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SPCAContactsEntities" connectionString="metadata=res://*/SPCAData.csdl|res://*/SPCAData.ssdl|res://*/SPCAData.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql2k804.discountasp.net;initial catalog=SQL2008R2_900203_spcacontacts;persist security info=True;user id=SQL2008R2_900203_spcacontacts_user;password=$pc@$@;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>