@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Search Contacts</h4>

<form id="searchform" method="post" action="/Search/FindContacts">

<label>First Name: <input type="text" id="fn" /></label>

<label>Last Name: <input type="text" id="ln" /> </label>

<label>Email: <input type="text" id="email" /> </label>

<label>Is Volunteer: <input type="checkbox" id="isvolunteer" /> </label>

<label>Is Donor: <input type="checkbox" id="isdonor" /> </label>

<label>Is Donor: <input type="checkbox" id="isdonor" /> </label>

</form>

