@model dynamic

@{
	ViewBag.Title = "Not Authorized";
}

<h4>Not Authorized</h4>
<p class="twelve">You are not authorized to view this page, please @Html.ActionLink("click here", "SignIn") to return to the Sign In page.</p>